# Dependencies
frontend/node_modules/
frontend/node_modules_old*/

# Builds
frontend/dist/

# Python
.venv/
__pycache__/
*.pyc

# Django artifacts
db.sqlite3
chroma_store/
backend/

# Env
.env
*.env

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
.DS_Store

